@import "~bootstrap/scss/bootstrap";

body {
	background-color: #DFDFDF;	
	color: #000;
}
	
.box {
	padding: 0;
	
	text-align: center;
	
	background-color: lightgreen;
	
	border-radius: 8px;
	border: 1px solid black;
}
